@charset "utf-8";

.unicodetiles {
	font-family: "DejaVuSansMono_ut", "DejaVu Sans Mono", monospace;
	font-size: x-large;
	white-space: pre;
	text-align: center;
	line-height: 1;
	letter-spacing: 0px;
	display: inline-block;
}

.unicodetiles div {
	float: left;
	height: 1em;
}

.unicodetiles br {
	clear: both;
}
